# Import Libraries

In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Import Startup Dataset

In [45]:
data = pd.read_csv('50_Startups.csv')
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

# Clean Data

In [46]:
X = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

# Transform Data

In [47]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[3])],remainder = 'passthrough')
X = np.array(ct.fit_transform(X))

# Split Dataset into Train and Test

In [48]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 43)

# Train Regressor Model

In [49]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Predict Startup Profit

In [50]:
y_pred = regressor.predict(X_test)

# Evaluate Model

In [51]:
np.set_printoptions(precision = 2)
results = np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)),1)
profitData = pd.DataFrame(results)
profitData.columns =["Predicted Profit","Actual Profit"] 
profitData

   Predicted Profit  Actual Profit
0     113037.651367      122776.86
1      73351.252263       90708.19
2      99718.181945      103282.38
3     150087.800797      132602.65
4     116959.440119      118474.03
5      42863.733064       64926.08
6      83215.740757       81005.76
7     159383.567719      156122.51
8     127820.134814      134307.35
9      61932.161359       65200.33